<a href="https://colab.research.google.com/github/asvaskamal403/python/blob/kamal/1_Python_Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **This is my first variable**

In [ ]:
# my first var
var1= 45

In [ ]:
#print
print(var1)

45

In [ ]:
var1

45

In [ ]:
# creating string var
name = 'Abhishek'

In [ ]:
print(name)

Abhishek

In [ ]:
name
# print function hide the data type

'Abhishek'

In [ ]:
# float var
var2 = 567.890

In [ ]:
# type() : used to display the data type of given variable

In [ ]:
type(var1)

int

In [ ]:
type(name)

str

In [ ]:
type(var2)

float

In [ ]:
age = 1
Age=2
aGe=3
AGE=4
a_g_e = 5
_age= 6
age_ = 7
_AGE_ = 8

In [ ]:
aGe

3

In [ ]:
# program to calculate area  of square
side = 7
area= side * side 
print(area)

49

In [ ]:
side = 7
area= side * side 
print('The area of Square ',area)

The area of Square  49

In [ ]:
side = 7
area= side * side 
print('The area of Square '+ area)

TypeError: ignored

In [ ]:
# int() : 
# str()

In [ ]:
side = 7
area= side * side 
print('The area of Square '+ str(area))

The area of Square 49

In [ ]:
# to take input from user we input()
first_name = input('Enter your first name :')
second_name = input('Enter your last name :')
print(first_name ,second_name)

Enter your first name :Abhis
Enter your last name :sri
Abhis              sri

In [ ]:
# integer input from input ()
# WAP to calculate area of rectangle
l = input('Enter the Length : ')
w = input('Enter the width : ')

area = l * w

print('area = ', area)

Enter the Length : 6
Enter the width : 7

TypeError: ignored

In [ ]:
type(l)

str

In [ ]:
# WAP to calculate area of rectangle ( convert datatype)
l = int(input('Enter the Length : '))
w = int(input('Enter the width : '))
area = l * w
print('area = ', area)

Enter the Length : 5
Enter the width : 6
area =  30

In [ ]:
# we can declare the multiple variable and assigning the value
x = 7
x = 6
x = 8
x = 10 
print(x)

10

In [ ]:
# we have different variable , we need to assign the same value
x = y= z = 78

In [ ]:
x

78

In [ ]:
y

78

In [ ]:
z

78

In [ ]:
# we have different variable , we need to assign the different value

a,b,c = 7,8,9

In [ ]:
b

8

## **Python Literals**

In [ ]:
# string literals

s1 = 'india'
s2 = "india"
s3 = '''welcome
to 
india'''

In [ ]:
print(s1)

india

In [ ]:
print(s2)

india

In [ ]:
print(s3)

welcome
to
india

In [ ]:
type(s1)

str

In [ ]:
type(s2)

str

In [ ]:
type(s3)

str

In [ ]:
# char literals in single quotes
char1= 'a'

# char literals in double quotes
char2= "A"

In [ ]:
print(char1)

a

In [ ]:
type(char1)

str

In [ ]:
# integer literals
int1 = 78

# float Literals

float1 = 6789.67

In [ ]:
print(int1,float1)

78 6789.67

In [ ]:
# boolean 

a = (1==True)
print(a)

True

In [ ]:
b = (1==False)
print(b)

False

In [ ]:
# WAP to calculate simple intrest 
# input: P , R , T
p = int(input('Enter the principal :'))
r = int(input ('enter the rate : '))
t = int(input ('Enter the time : '))

si = (p*r*t)/100
print('Simple interest is ' , si)

Enter the principal :50000
enter the rate : 5
Enter the time : 3
Simple interest is  7500.0