<a href="https://colab.research.google.com/github/asvaskamal403/python/blob/kamal/6_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('=========Date 19 May ===========')

=========Date 19 May ===========

In [ ]:
!python --version

Python 3.10.11

In [ ]:
# how  to create blank list 
list1= []

In [ ]:
type(list1)

list

In [ ]:
list1

[]

In [ ]:
# list of string
country = ['Anerica','Brazil','Canada','Denmark']

In [ ]:
country

['Anerica', 'Brazil', 'Canada', 'Denmark']

In [ ]:
# length of string list
len(country)

4

In [ ]:
for i in country:
  print(i , end =', ')

Anerica, Brazil, Canada, Denmark,

In [ ]:
# numeric list
list2=[2,4,5,6,7,8,9]

In [ ]:
list2

[2, 4, 5, 6, 7, 8, 9]

In [ ]:
# hybrid  list
list3=['Rajesh', 45, 54000.67,'Delhi',False]

In [ ]:
list3

['Rajesh', 45, 54000.67, 'Delhi', False]

In [ ]:
# nested list
list4= [['A','B','C'],['D','E','F']]
list4

[['A', 'B', 'C'], ['D', 'E', 'F']]

In [ ]:
for i in list4:
  for j in i:
    print(j, end =', ')

A, B, C, D, E, F,

## **LIST indexing**

In [ ]:
list5 = [5,3,4,5,6,7,8,9,5,4,3]

In [ ]:
list5[1]

3

In [ ]:
# +ve
for i in range(len(list5)):
  print('list5[',i,']->',list5[i])

list5[ 0 ]-> 5
list5[ 1 ]-> 3
list5[ 2 ]-> 4
list5[ 3 ]-> 5
list5[ 4 ]-> 6
list5[ 5 ]-> 7
list5[ 6 ]-> 8
list5[ 7 ]-> 9
list5[ 8 ]-> 5
list5[ 9 ]-> 4
list5[ 10 ]-> 3

In [ ]:
#-ve 
for i in range(-len(list5) ,0):
  print('list5[',i,']->',list5[i])

list5[ -11 ]-> 5
list5[ -10 ]-> 3
list5[ -9 ]-> 4
list5[ -8 ]-> 5
list5[ -7 ]-> 6
list5[ -6 ]-> 7
list5[ -5 ]-> 8
list5[ -4 ]-> 9
list5[ -3 ]-> 5
list5[ -2 ]-> 4
list5[ -1 ]-> 3

In [ ]:
# list are mutable
country

['Anerica', 'Brazil', 'Canada', 'Denmark']

In [ ]:
country[1]='India'

In [ ]:
country

['Anerica', 'India', 'Canada', 'Denmark']

In [ ]:
# Session Assignment
# take a list of 7 numbers
# perform any 5 slicing opeartion +ve
# perform any 5 slicing opeartion -ve

## **List Library Method**

In [ ]:
#1. append(value):this method will appned the value in this list
list6= [3,4,5,6]
list6.append(9)

In [ ]:
list6

[3, 4, 5, 6, 9]

In [ ]:
# WAP to store cubes from 1 to 10 in the blank list
cube=[]
for i in range(1,11):
  cube.append(i**3)

In [ ]:
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# WAP to store even values  from the given list into the blank list

## Assignment : WAP to check that name given in the list start with 'R' , if yes store those name in another list

In [ ]:
#2.insert(index , value):
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
cube.insert(1,100)
cube

[1, 100, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#3 count(): this will return frequency of any value
list5

[5, 3, 4, 5, 6, 7, 8, 9, 5, 4, 3]

In [ ]:
list5.count(5)

3

In [ ]:
list5.count(51)

0

In [ ]:
#4. index(value) : this will give lowest index of the value
list5

[5, 3, 4, 5, 6, 7, 8, 9, 5, 4, 3]

In [ ]:
list5.index(5)

0

In [ ]:
#5 pop(): this will remove last , printthe last item
# pop(index)

list5

[5, 3, 4, 5, 6, 7, 8, 9, 5, 4, 3]

In [ ]:
list5.pop()

3

In [ ]:
list5

[5, 3, 4, 5, 6, 7, 8, 9, 5, 4]

In [ ]:
list5.pop(1)

3

In [ ]:
# Session assignment : remove all even values from given list

In [ ]:
l=[1,2,3,4,5,6,7]
for i in range(len(l)):
  if l[i]%2==0:
    l.pop(i)

print(l)

IndexError: ignored

In [ ]:
l=[1,2,3,4,5,6,7]
for i in range(len(l)):
  if l[i]%2==0:
    print(i , l[i])
    l.pop(i)

1 2
2 4
3 6

IndexError: ignored

In [ ]:
# perform these operation on list
# in
# not in
# max(list5)
# min(list5)
# sum(list5)
# sorted(list5) == find the difference
# sort(list5)
# reverse(list5)

In [ ]:
# suppose you  have 5 mail , out of 5 3 belong to gmail
# you need to write the program where you can filter only those email 
# which belong to gmail , store only user name in new blank list

## **Python List Comph.**

In [ ]:
list1 = [char for char in [1,2,3]]

In [ ]:
list1

[1, 2, 3]

In [ ]:
list2 = [i for i in range(11) if i %2 ==0]
list2

[0, 2, 4, 6, 8, 10]

In [ ]:
list3 = ["even" if i%2 ==0 
          else "odd" for i in range(8)]

In [ ]:
list3

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
list4 = [string[::-1] for string in ('this','is','abhishek')]
list4

['siht', 'si', 'kehsihba']

## **TUPLES in Python**

In [ ]:
# create a blank tuples
tup1= ()

In [ ]:
type(tup1)

tuple

In [ ]:
# Session Assignment (same as list)
# indexing +ve
# indexing -ve
# slicing
# iteration

In [ ]:
tup2 =(2,3,4,5,5)

In [ ]:
tup2

(2, 3, 4, 5, 5)

In [ ]:
tup3 =('America','Brazil','Cananda')
tup3

('America', 'Brazil', 'Cananda')

In [ ]:
tup4 =('America',56,789.9,False)
tup4

('America', 56, 789.9, False)

In [ ]:
# tuples are immutable
tup4

('America', 56, 789.9, False)

In [ ]:
tup4[3] = 'abcd'

TypeError: ignored

In [ ]:
# tuple assignment
# 1. un-named assignment
(x,y,z) = (6,7,8)

In [ ]:
y

7

In [ ]:
#2.named assignment
t1=(3,4,5)
(a,b,c)=t1
b

4

In [ ]:
# tuple function
# max
# min
# sum
# in
# not in
#len

In [ ]:
# append
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [ ]:
# * op.
('Good..')*3

'Good..Good..Good..'

In [ ]:
# tuple()
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [ ]:
tuple([2,3,4,5])

(2, 3, 4, 5)

In [ ]:
# zip()
emp = ('amit','raj','kishor')
dept= ('hr', 'fin','it')
tuple(zip(emp,dept))

(('amit', 'hr'), ('raj', 'fin'), ('kishor', 'it'))

In [ ]:
list(zip(emp,dept))

[('amit', 'hr'), ('raj', 'fin'), ('kishor', 'it')]

## **Python Dictionary**

In [ ]:
# create a dict
dic1 = {'Name':'Amit','Age':35,'Dept':'HR','DOB':'23-Nov-2000'}

In [ ]:
dic1

{'Name': 'Amit', 'Age': 35, 'Dept': 'HR', 'DOB': '23-Nov-2000'}

In [ ]:
# how to access data
dic1['Dept']

'HR'

In [ ]:
# if you are fetching that data which is not present
dic1['Address']

KeyError: ignored

In [ ]:
# if key is not there we can add the key in Dict
dic1['Address'] = 'Delhi'

In [ ]:
dic1

{'Name': 'Amit',
 'Age': 35,
 'Dept': 'HR',
 'DOB': '23-Nov-2000',
 'Address': 'Delhi'}

In [ ]:
# if key is  there we need to update the data
dic1['Address'] = 'Mumbai'

In [ ]:
dic1

{'Name': 'Amit',
 'Age': 35,
 'Dept': 'HR',
 'DOB': '23-Nov-2000',
 'Address': 'Mumbai'}

In [ ]:
# 1,pop('key') : this method will delete the key from collection
dic1.pop('Address')

'Mumbai'

In [ ]:
dic1

{'Name': 'Amit', 'Age': 35, 'Dept': 'HR', 'DOB': '23-Nov-2000'}

In [ ]:
# dict.clear() : this will remove all items and dict will empty

In [ ]:
# dict.del : this will remove dict from memory

In [ ]:
# items() : this method returning key nd value
for k, v in dic1.items():
  print('key ->', k , ', value ->', v)

key -> Name , value -> Amit
key -> Age , value -> 35
key -> Dept , value -> HR
key -> DOB , value -> 23-Nov-2000

In [ ]:
# key()

In [ ]:
# values

In [ ]:
# Session assignment
# wap to create dict which contain frequency of each alpha in the given string
msg= 'dsffdfgdgb gdffhfghgh ertertrtr ewtetertrt'
dict2={}

## **Set**

In [ ]:
# create a set
set1 = {'apple','mango','banana'}

In [ ]:
type(set1)

set

In [ ]:
set2 = {'apple','mango','banana','apple'}
set2

{'apple', 'banana', 'mango'}

In [ ]:
set3 = {'apple','mango','banana','Apple'}
set3

{'Apple', 'apple', 'banana', 'mango'}

In [ ]:
# 
list8=[1,2,3,1,3,2,4,5,6]
ans = set(list8)
ans

{1, 2, 3, 4, 5, 6}

In [ ]:
# union : s | t

In [ ]:
# intersetion s & t

In [ ]:
# add() , remove()

set5 = set()

In [ ]:
set5.add(5)

In [ ]:
set5.add(6)

In [ ]:
set5.add(7)

In [ ]:
set5.add(100)

In [ ]:
set5

{5, 6, 7, 100}

In [ ]:
# remove
set5.remove(7)

In [ ]:
set5

{5, 6, 100}

In [ ]:
# other common set method
# min()
# max()
# sum()
# len()
# in
# not in