<a href="https://colab.research.google.com/github/asvaskamal403/python/blob/kamal/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
# Important
# How to upload dataset on colab
# 1. for session
# click on folder icon , click on up arrow
# browse your file , upload your file for session
# 2. Permanantly
#  
#

In [ ]:
#/content/drive/MyDrive/Syren Tech/3.Pandas/all-csv-data-frames/diabetes.csv
#/content/drive/MyDrive/==folder path===/diabetes.csv

In [ ]:
# we can read the file folder 
# create dataframe variable
df = pd.read_csv('diabetes.csv')

In [ ]:
df.head()

In [ ]:
df

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Syren Tech/3.Pandas/all-csv-data-frames/diabetes.csv')

In [ ]:
df1.head()

In [ ]:
# we can read the file from repo.
# uci machine learning

iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header = None)
iris.head()

In [ ]:
# create a list for column
col = ['sepal length','sepal width','petal length','petal width','class']

In [ ]:
# apply this column name list to my dataframe
iris.columns=col

In [ ]:
iris.head()

In [ ]:
# create your owen dataframe
# pd.DataFrame({})
student = pd.DataFrame({'Name':['Q','W','T'], 'Grades':[56,34,21]})

In [ ]:
student

In [ ]:
# generate marks(0-100) grades(75-100) for 1000 studenst
marks = np.random.randint(0,101,1000)

In [ ]:
grade = np.random.randint(75,101,1000)

In [ ]:
stu = pd.DataFrame({'grade':grade, 'marks':marks})

In [ ]:
stu

## **Pandas Important function and attributes**

In [ ]:
# df.head() : this function used to print first 5 rows of given dataset
df.head()

In [ ]:
df.head(8)

In [ ]:
#2.tail() : bottom five records
df.tail()

In [ ]:
df.tail(12)

In [ ]:
# shape attribute 
df.shape

In [ ]:
# dtypes: dtypes is used to display the the type of given data set
df.dtypes

In [ ]:
nba = pd.read_csv('nba.csv')

In [ ]:
nba.dtypes

In [ ]:
nba.head(10)

In [ ]:
# assignment : astype()

In [ ]:
# info()
nba.info()

In [ ]:
# i want  to check with the null values
# how do i display total null count 
# isnull() : this will return true / false 
nba.isnull()

In [ ]:
nba.isnull().sum()

In [ ]:
# % of null count
round(nba.isnull().sum())*100/len(nba)

In [ ]:
# give  null count of each column in dia. dataset

In [ ]:
# describe() : this is funct. is useful to show some stats information
df.describe()

## **Handling the dataframe column**

In [ ]:
# one column
df.Age

In [ ]:
type(df.Age)

In [ ]:
# one column
df['Age'] #  follow this approach when column name looks like df['Blood Pressure']

In [ ]:
df[['Age']]

In [ ]:
type(df[['Age']])

In [ ]:
# multiple column
df[['BloodPressure', 'SkinThickness']].head(7)

In [ ]:
df_1 = df[['BloodPressure', 'SkinThickness']].head(7)

In [ ]:
df_1.shape

In [ ]:
# from the given data frame how i create new datafram with selected column
df.columns

In [ ]:
df_new = df[['BloodPressure', 'SkinThickness', 'Insulin', 'BMI']]

In [ ]:
df_new.head()

In [ ]:
# Assignment :using nba dataset collect all those which belong to object datatype in new dataframe

In [ ]:
# Getting Sum
# row sum 
# df.sum (axis = 1)
df.sum(axis=1)

In [ ]:
# col sum 
# df.sum (axis = 0)
df.sum(axis=0)

In [ ]:
df.head()

In [ ]:
# pandas dataframe in numpy
df.head()

In [ ]:
# .values
df_5 = df[['Glucose','Insulin']].head().values

In [ ]:
df_5

In [ ]:
type(df_5)

In [ ]:
glu = df.Glucose.values
glu

In [ ]:
# How to add the columns
# at the end
# at some index
df1

In [ ]:
# add the column at the end
# df['col-name']=value
df['Weight']=89

In [ ]:
df.head()

In [ ]:
df['Height']=df.BloodPressure*2

In [ ]:
df.head()

In [ ]:
# add the column at given index
# df.insert(index , col-name, value)
df.insert(2,'Intelligence',df.Insulin*4 )

In [ ]:
df.head()

In [ ]:
# how to save your data in csv format
# df.to_csv('filename.csv')
df.to_csv('/content/drive/MyDrive/Syren Tech/3.Pandas/MyResult.csv')

In [ ]:
# value_counts() :this function is used to count the frequency of datain given column
nba.head()

In [ ]:
# how many distinct positions with frequency
nba.Position.value_counts()

In [ ]:
nba.Team.value_counts()

In [ ]:
# unique : this function will display only unique values
nba.Team.unique()

In [ ]:
# nunique() : this function will count the unique values 
nba.Team.nunique()

### **Handling null values**

In [ ]:
# Approach 1 : remove the null value < 10%
# Approach 2 : Replace null values >10% 
#               Data Imputation 
#                         1.String -> replace null values with mode
#                         2.int / float ->replace null values with mean

In [ ]:
# dropna()
temp_nba = nba

In [ ]:
temp_nba.head()

In [ ]:
temp_nba.isnull().sum()

In [ ]:
nba1 = temp_nba.dropna()

In [ ]:
nba1.isnull().sum()

In [ ]:
temp_nba.head()

In [ ]:
temp_nba.dropna(inplace= True)

In [ ]:
temp_nba.head()

In [ ]:
# how to perform dropna with any column 
# syntax = df.dropna(subset=['col1','col2'....])
nba= pd.read_csv('nba.csv')

In [ ]:
# i need to drop only null value belong to College column
# use inplace=True when you want to reflect the changes in original dataframe
nba.dropna(subset=['College'] , inplace=True)

In [ ]:
nba.head(15)

In [ ]:
nba.dropna(subset=['Salary'] , inplace=True)

In [ ]:
nba.head()

In [ ]:
# Assignment 
# fillna('value') : this will used to fill null values 
# url : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [ ]:
# df.replace(old value , new value)
nba = pd.read_csv('nba.csv')

In [ ]:
nba.head()

In [ ]:
#               Data Imputation 
#                         1.String -> replace null values with mode
#                         2.int / float ->replace null values with mean

In [ ]:
# to calculate mode 
nba.College.mode()[0]

In [ ]:
nba.College.mode()

In [ ]:
nba.College = nba.College.replace(np.nan,nba.College.mode()[0])

In [ ]:
nba.head()

In [ ]:
# Assignment : Impuete Salary column with appropriate technique

In [ ]:
# sorting 
# df.sort_values(Col-name, ascending = True / Flase)

In [ ]:
# sorth the Teams
nba.sort_values('Team')

In [ ]:
nba.sort_values('Team' , ascending= False)

In [ ]:
# sort the team name , sort player name
nba.sort_values(['Team','Name'])

In [ ]:
nba.sort_values(['Team','Name'], ascending=[True ,False])

In [ ]:
# slicing of dataframe
# iloc[ row start: row end , col start : col end]
df = pd.read_csv('diabetes.csv')

In [ ]:
df.head(2)

In [ ]:
x = df.iloc[: , 0:7]
x.head()

In [ ]:
y = df.iloc[: , 7:]
y.head()

In [ ]:
y1 = df.iloc[:, 7]
y1.head()

In [ ]:
df.head()

In [ ]:
df.iloc[:20,:2]

In [ ]:
# Filter the data 
df.head()

In [ ]:
# out come 1 : D
# our come 0 : ND

In [ ]:
# filter those record which have diabetic

df_d = df[df.Outcome == 1]
df_d.head()

In [ ]:
# whose outcome is 1 , the have glucose > 150
df_d_1 =df[(df.Outcome ==1) & (df.Glucose > 150)]
df_d_1.head(30)

In [ ]:
# whose outcome is 1 or the have glucose > 150
df_d_2 =df[(df.Outcome ==1) | (df.Glucose > 150)]
df_d_2.head(30)

In [ ]:
df_d[['Glucose','BloodPressure']].head()

## **Plot()**

In [ ]:
# histogram
df.Glucose.plot(kind ='hist')

In [ ]:
df.Glucose.plot(kind ='hist', bins=5)

In [ ]:
df.Glucose.plot(kind ='hist', bins=20)

In [ ]:
df[['Glucose','Age']].plot(kind ='hist')

In [ ]:
df.plot(kind ='hist')

In [ ]:
# bar chart
nba.head()

In [ ]:
nba.head(10).plot(kind='bar',x ='Name',y='Weight')

In [ ]:
nba.head(10).plot(kind='bar',x ='Name',y='Weight', figsize=(4,3)) #w,h

In [ ]:
nba.head(10).plot(kind='bar',x ='Name',y=['Weight','Age'], figsize=(8,4)) #w,h

In [ ]:
nba.head(10).plot(kind='barh',x ='Name',y=['Weight','Age'], figsize=(8,4)) #w,h

In [ ]:
df.plot(x= 'Glucose', y ='Age')

In [ ]:
df.plot(x= 'Glucose', y ='Age' , kind ='scatter', figsize=(10,5))

In [ ]:
df.plot(x= 'Age', y ='BloodPressure' , kind ='scatter', figsize=(10,5))